@import "tailwindcss";

@theme {
  --color-background: #FFFBEB;
  --color-primary: #F59E0B;
  --color-accent: #10B981;
  --font-sans: 'Outfit', sans-serif;
}

@layer base {
  html {
    font-family: var(--font-sans);
    scroll-behavior: smooth;
    background-color: var(--color-background);
  }
}
