@import "tailwindcss";

@theme {
  --color-background: #F5F5F7;
  --color-primary: #FFDC58;
  --font-sans: 'Outfit', sans-serif;
}

@layer base {
  html {
    font-family: var(--font-sans);
    scroll-behavior: smooth;
  }
}